<!-- Button trigger modal -->
<div class="text-right" style="padding: 8px">
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fas fa-plus"></i> Crear Horario
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #025aa5">
                <h5 class="modal-title" id="exampleModalLongTitle">Crear Horario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col">
                        <h4>Lunes: </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Entrada</label>
                        <div class="input-group date" id="lunesTime_1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#lunesTime_1"/>
                            <div class="input-group-append" data-target="#lunesTime_1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida Almuerzo</label>
                        <div class="input-group date" id="lunesTime_2" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#lunesTime_2"/>
                            <div class="input-group-append" data-target="#lunesTime_2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Entrada Almuerzo</label>
                        <div class="input-group date" id="lunesTime_3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#lunesTime_3"/>
                            <div class="input-group-append" data-target="#lunesTime_3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida</label>
                        <div class="input-group date" id="lunesTime_4" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#lunesTime_4"/>
                            <div class="input-group-append" data-target="#lunesTime_4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h4>Martes: </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Entrada</label>
                        <div class="input-group date" id="martesTime_1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#martesTime_1"/>
                            <div class="input-group-append" data-target="#martesTime_1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida Almuerzo</label>
                        <div class="input-group date" id="martesTime_2" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#martesTime_2"/>
                            <div class="input-group-append" data-target="#martesTime_2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Entrada Almuerzo</label>
                        <div class="input-group date" id="martesTime_3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#martesTime_3"/>
                            <div class="input-group-append" data-target="#martesTime_3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida</label>
                        <div class="input-group date" id="martesTime_4" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#martesTime_4"/>
                            <div class="input-group-append" data-target="#martesTime_4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h4>Miércoles: </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Entrada</label>
                        <div class="input-group date" id="miercolesTime_1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#miercolesTime_1"/>
                            <div class="input-group-append" data-target="#miercolesTime_1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida Almuerzo</label>
                        <div class="input-group date" id="miercolesTime_2" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#miercolesTime_2"/>
                            <div class="input-group-append" data-target="#miercolesTime_2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Entrada Almuerzo</label>
                        <div class="input-group date" id="miercolesTime_3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#miercolesTime_3"/>
                            <div class="input-group-append" data-target="#miercolesTime_3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida</label>
                        <div class="input-group date" id="miercolesTime_4" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#miercolesTime_4"/>
                            <div class="input-group-append" data-target="#miercolesTime_4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h4>Jueves: </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Entrada</label>
                        <div class="input-group date" id="juevesTime_1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#juevesTime_1"/>
                            <div class="input-group-append" data-target="#juevesTime_1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida Almuerzo</label>
                        <div class="input-group date" id="juevesTime_2" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#juevesTime_2"/>
                            <div class="input-group-append" data-target="#juevesTime_2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Entrada Almuerzo</label>
                        <div class="input-group date" id="juevesTime_3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#juevesTime_3"/>
                            <div class="input-group-append" data-target="#juevesTime_3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida</label>
                        <div class="input-group date" id="juevesTime_4" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#juevesTime_4"/>
                            <div class="input-group-append" data-target="#juevesTime_4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h4>Viernes: </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Entrada</label>
                        <div class="input-group date" id="viernesTime_1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#viernesTime_1"/>
                            <div class="input-group-append" data-target="#viernesTime_1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida Almuerzo</label>
                        <div class="input-group date" id="viernesTime_2" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#viernesTime_2"/>
                            <div class="input-group-append" data-target="#viernesTime_2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Entrada Almuerzo</label>
                        <div class="input-group date" id="viernesTime_3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#viernesTime_3"/>
                            <div class="input-group-append" data-target="#viernesTime_3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida</label>
                        <div class="input-group date" id="viernesTime_4" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#viernesTime_4"/>
                            <div class="input-group-append" data-target="#viernesTime_4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h4>Sábado: </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Entrada</label>
                        <div class="input-group date" id="sabadoTime_1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#sabadoTime_1"/>
                            <div class="input-group-append" data-target="#sabadoTime_1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida Almuerzo</label>
                        <div class="input-group date" id="sabadoTime_2" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#sabadoTime_2"/>
                            <div class="input-group-append" data-target="#sabadoTime_2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Entrada Almuerzo</label>
                        <div class="input-group date" id="sabadoTime_3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#sabadoTime_3"/>
                            <div class="input-group-append" data-target="#sabadoTime_3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Salida</label>
                        <div class="input-group date" id="sabadoTime_4" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#sabadoTime_4"/>
                            <div class="input-group-append" data-target="#sabadoTime_4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn btn-primary" id="guardarHorario">Guardar</button>

            </div>

        </div>
    </div>
</div>


